.header {
    height: rem(56px);
    margin-bottom: rem(120px);
    background-color: rgb(38, 38, 38);
    border-bottom: rgb(91, 91, 91);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 210%;
  }
  
  .inner {
    height: rem(56px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .link {
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: white;
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
    
  }